[submodule "distros/wsd.js"]
	path = resources/distro/wsd.js
	url = https://github.com/sireum/v3-wsd.js
[submodule "util"]
	path = util
	url = https://github.com/sireum/v3-util
[submodule "logika"]
	path = logika
	url = https://github.com/sireum/v3-logika
