/sbt
.cache*
.scala_dependencies
project-dependency.dot
.readme.md.html
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
/project/project
.history
*.sjsir
*.class
/js/*
/jvm/*
target
target-jvm
target-js
.DS_Store
/lib_managed
