/bin
/target
/temp
/update
/sbt
/.cache*
/.scala_dependencies
/sireum-*
/project-dependency.dot
/.readme.md.html
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
/out/
/.idea_modules/
/atlassian-ide-plugin.xml
/com_crashlytics_export_strings.xml
/crashlytics.properties
/crashlytics-build.properties
/project/project
/core/sireum-pilar/target
/core/sireum-pilar-parser/target
/core/sireum-util/target
/core/sireum-core-test/target
