/.idea
/bin/VER
/bin/sireum.jar
/apps
/platform
/sbt
/lib_managed
/project/project
/distros/sireum-v3
/distros/*.zip
/distros/*.dmg
/distros/*.exe
/distros/*.tar.gz
/distros/sireum-v3-VER
/distros/sireum-v3-dev-VER
/distros/idea
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
target
.readme.md.html
.DS_Store
.cache*
.scala_dependencies
project-dependency.dot
*.class
.project
.classpath
.settings
/awas
resource_hacker
/resources/distro/resource_hacker.zip
Scratch.scala